@font-face {
	font-family: Glegoo;
	src: local("Glegoo"), local("Glegoo-Regular"), url(http://themes.googleusercontent.com/static/fonts/glegoo/v1/-980wJDu-PBMkMpRUlWH-w.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/glegoo/v1/8x8S7gQMbbduiGv8gbUJ0Q.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
